@project-info-margin: 40px;

.project-header {
  text-align: center;
}

.project-main-info {
  ul {
    list-style: none;
  }

  .value {
    font-size: 30px;
  }

  .annotation {
    display: block;
    font-size: 12px;
    color: #828587;
  }
}

.back-project-btn {
  margin: @project-info-margin;
  height: 60px;
  width: 200px;
  background-color: #2BDE73;
  font-weight: bold;
  color: #fff;
}

.back-project-btn:hover {
  background-color: #1db95c;
  font-weight: bold;
  color: #fff;
}

.download-project-btn {
  margin: @project-info-margin;
  height: 40px;
  width: 350px;
  font-weight: bold;
  background-color: #fff;
  border: 2px solid #828587;
  color: #828587;
}

.download-project-btn:hover {
  font-weight: bold;
  border: 2px solid #525354;
  color: #525354;
}

.rewards {
  list-style: none;
}

.rewards-header {
  font-size: 24px;
  font-weight: bold;
  margin-left: @project-info-margin;
}

.reward {
  padding: 15px;
  background-color: #F7FAFA;

  .header {
    font-size: 14px;
    font-weight: bold;
  }
}