<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"
            ng-click="$ctrl.cancel()">
        <span aria-hidden="true">&times;</span>
    </button>
    <h3 class="title" translate>CONFIRM</h3>
</div>
<div class="modal-body">
    <h4 class="text-center" translate translate-values="$ctrl.translateValues">
        {{ $ctrl.translateKey }}
    </h4>
</div>
<div class="modal-footer">
    <a href="" class="btn bao-link btn-cancel" translate ng-click="$ctrl.cancel()">CANCEL</a>
    <button class="btn btn-bao" type="submit" ng-click="$ctrl.ok()" translate>OK</button>
</div>