<div class="container donate-to-project-container">
    <div class="row project-header row-centered">
        <h1>{{ vm.project.name }}</h1>
        <h5>by {{ vm.project.owner }}</h5>
    </div>

    <div class="row">
        <div class="server-errors">
            <span class="error-text">{{ vm.serverError }}</span>
        </div>
    </div>

    <div class="row">
        <h3 class="rewards-header">Let's choose your reward!</h3>
    </div>

    <div>
        <div class="row">
             <div class="container reward-container col-sm-6" 
                  ng-class="{'choosen-reward' : vm.isSimpleDonateActivated()}">
                <input type="radio" name="reward" ng-click="vm.activateSimpleDonate()">
                <span>No thanks,</span><span>I just want to help the project.</span>
                <div ng-if="vm.isSimpleDonateActivated()" class="row form-row">
                    <ng-form role="form" name="donationForm" novalidate>
                        <div class="form-group">
                            <label for="amount" class="control-label" translate>PLEDGE_AMOUNT</label>
                            <div ng-class="{'has-error': vm.form.amount.$invalid && vm.form.amount.$touched }">
                                <div class="col-sm-8">
                                    <input type="text" class="form-control"
                                           id="amount" name="amount"
                                           ng-model="vm.donation.amount"
                                           required />
                                </div>
                                <div class="col-sm-4">
                                   <button type="submit" 
                                            class="btn btn-primary" 
                                            ng-disabled="vm.isSubmitting" 
                                            ng-click="vm.donate(donationForm)" translate>CONTINUE</button>
                                </div>
                            </div>
                        </div>
                    </ng-form>
                </div>
             </div>
        </div>
        <div class="row" ng-repeat="reward in vm.rewards track by id">
             <div class="container reward-container col-sm-6" ng-class="{'choosen-reward' : vm.isRewardActivatedAt($index)}">
                <input type="radio" name="reward" ng-click="vm.activateRewardAt($index)"><span>${{ reward.amount }} or more</span>
                <div>
                    {{ reward.description }}
                </div>
                <div ng-if="vm.isRewardActivatedAt($index)" class="row form-row">
                    <ng-form role="form" name="donationForm" novalidate>
                        <div class="form-group">
                            <label for="amount" class="control-label" translate>PLEDGE_AMOUNT</label>
                            <div ng-class="{'has-error': vm.form.amount.$invalid && vm.form.amount.$touched }">
                                <div class="col-sm-8">
                                    <input type="text" class="form-control"
                                           id="amount" name="amount"
                                           ng-model="vm.donate.amount"
                                           required />
                                </div>
                                <div class="col-sm-4">
                                    <button type="submit" 
                                            class="btn btn-primary" 
                                            ng-disabled="vm.isSubmitting" 
                                            ng-click="vm.donate(donationForm)" translate>CONTINUE</button>
                                </div>
                            </div>
                        </div>
                    </ng-form>
                </div>
             </div>
        </div>
    </div>
</div>