<div class="container">
    <div class="row">
        <div class="server-errors">
            <span class="error-text">{{ vm.serverError }}</span>
        </div>
    </div>
    <div ng-if="!vm.hasProjects()" class="row">
        <h1 translate>THERE_ARE_NO_PROJECTS_IN_THE_SYSTEM</h1>
    </div>
    <div ng-if="vm.hasProjects()" class="row">
        <div ng-repeat="project in vm.projects track by project.id">
            <div class="project-list-item" ui-sref="{{ vm.states.PROJECT }}({ projectId: project.id })">
                <span class="header">{{ project.name }}</span>
                <span class="header-annotation">by {{ project.owner.username }}</span>
                <div class="description">
                    <p>{{ project.description | limitTo: 250}}...</p>
                </div>
                <ul class="list-inline">
                    <li>
                        <div class="info" style="left: 5%;">
                            <span class="value">{{ project.pleged / project.fundingGoal }}%</span>
                            <span class="annotation">funded</span>
                        </div>
                    </li>
                    <li>
                        <div class="info" style="left: 38%">
                            <span class="value">{{ project.pleged }}</span>
                            <span class="annotation">pleged</span>
                        </div>
                    </li>
                    <li>
                        <div class="info" style="left: 71%">
                            <span class="value">{{ project.daysToGo }}</span>
                            <span class="annotation">days to go</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>