<div class="btn-group">
<button class="btn btn-info" ng-click="donwnloadStatisticForFinished()">Download statistic for finished projects!</button>
<button class="btn btn-info" ng-click="donwnloadProvingStatistic()">Download statistic by approved/unapproved projects!</button>
</div>

<h2>Unapproved Projects:</h2>
<ul class="list-group" ng-repeat="project in projects">
    <li class="list-group-item" style="cursor: pointer;" ui-sref="{{ states.PROJECT }}({ projectId: project.id })">{{ $index + 1 }}. {{ project.name }}</li>
</ul>
